@model AccountManagement.UI.ViewModels.Management_Transactions_VM
@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions</h2>
<h3> Account Number: @Model.AccountNumber</h3>

<table class="table table-condensed table-striped">
    <tr>
        <th>Transaction ID</th>
        <th>Transaction Date</th>
        <th>Transaction Amount</th>
    </tr>
    @foreach (var tran in Model.Transactions)
    {
        <tr>
            <td>@tran.TransactionID</td>
            <td>@tran.TransactionDate.ToString("dd MMMM yyyy")</td>
            <td>@tran.TransactionAmount</td>
        </tr>
    }
</table>

